 
.markdown-body p code {
  color: #d14;
}

.markdown-body blockquote {
  border-color: #8c618d;

}

.markdown-body pre {
  border: 1px solid #ddd;
}

.markdown-body blockquote, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
  margin-bottom: 27px;
}